<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
	<test verbose="2" preserve-order="true" name="/Users/shylajanagineni/Projects/Java-Gradle-Sel-TestNG-11">
		<classes>
<!-- 			<class name="com.shy.CheckHooks"> -->
<!-- 				<methods> -->
<!-- 					<include name="sampleTest"/> -->
<!-- 				</methods> -->
<!-- 			</class> -->
<!-- 			<class name="com.shy.MathOpsTest"> -->
<!-- 				<methods> -->
<!-- 					<include name="getUnique"/> -->
<!-- 				</methods> -->
<!-- 			</class>			<class name="com.shy.CheckHooks"> -->
<!-- 				<methods> -->
<!-- 					<include name="sampleTest"/> -->
<!-- 				</methods> -->
<!-- 			</class> -->
<!-- 			<class name="com.shy.MathOpsTest"> -->
<!-- 				<methods> -->
<!-- 					<include name="getUnique"/> -->
<!-- 				</methods> -->
<!-- 			</class> -->
			<class name="com.shy.WebTest">
				<methods>
					<include name="loadWebpage"/>
					<include name="checkText"/>
				</methods>
			</class>
		</classes>
	</test>
</suite>